<div class="overlay" class="shadowbox">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-sm-6">
                <app-quote-forms (addAQuote)="newQuote($event)"></app-quote-forms>
            </div>
            <div class="col-sm-1">
                <div class="all-cards">
                    <div *ngFor="let quote of quotes let i= index" class="card m-5 d-flex" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-author">{{quote.quoteAuthor}} </h4>

                            <p class="card-text" id="param">{{quote.description}}</p>
                            <button (click)='displayInfo(i)' class="btn btn-info btn-sm" id="quotes-button">More on the quote</button>
                            <app-quote-detail [quote]="quote" *ngIf='quote.showInfo' (quoteIsDelete)="deleteAquote($event,i)"></app-quote-detail>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
