<div class="container-fluid" class="shadowbox">
    <div style="text-align:center;color:rgb(73, 5, 5) ; font: size 12px;"><h1>QUOTES</h1></div> <hr>
    <div style="color:rgba(1, 8, 27, 0.409)">
    <p>Displayed here are some of the slogans I live by;</p>
    <p>Feel free to add your quote here too.</p>
</div> <br>
    <form #userForm="ngForm" (ngSubmit)="addQuote()">

        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" class="form-control" name="userName"[(ngModel)]="quote.name">
            <small class="text-danger" [class.d-none]="name.valid || name.pristine">Name is required!</small>
        </div> <br>
        
        <div class="form-group">
            <label for="description">Quote</label>
            <textarea class="form-control" id="description" rows="3" required name="description"[(ngModel)]="quote.description"></textarea>   
        </div> <br>
        <small class="text-danger" [class.d-none]="name.valid || name.pristine">Please enter your quote here!</small>

            <div class="form-group">
                <label>Quote author</label>
                <input type="text" required class="form-control"name="author"[(ngModel)]="quote.quoteAuthor">  
            </div> <br>
            <small class="text-danger" [class.d-none]="name.valid || name.pristine">Author Name required!</small>
        
        <button [disabled]="userForm.form.invalid" class="btn btn-primary">Submit quote</button>
    </form>

</div>
